*.o
*.d
# Default ignored files
/shelf/
/workspace.xml
/cmake-build-debug
/cmake-build-debug-event-trace
.idea
CMakeCache.txt
_deps/
CMakeFiles/
cmake_install.cmake
./Makefile
Makefile copy

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
test
app
Debug/nsightbuilddata
/results
/data

.idea
.metadata
/RemoteSystemsTempFiles
/build






